:root {
    --azul: #0071b7;
    --blanco: #FFF;
    --cadetblue: #1f6b6b;
}

html {
    font-size: 62.5%; /** 1REM = 10pX **/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--azul);
    font-family:  'Lato', sans-serif;
    font-size: 1.6rem;
}

h1, h2 {
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0;
    padding: 1rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.box {
    background-color: var(--cadetblue);
    color: var(--blanco);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1rem solid #0a0a0a;
}

.contenedor > div {
    background-color: var(--blanco);
    padding: 5rem;
}

/* 1.- Display Flex */
.d-flex {
    display: flex;
}

/* 2.- Flex Direction */
.d-flex-2 {
    display: flex;
    flex-direction: column;
}

/* 3.- Justify Content (Direcci贸n Row) */
.d-flex-3 {
    display: flex;
    justify-content: space-evenly;
}

/* 4.- Justify Content (Direcci贸n Column) */
.d-flex-4 {
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-evenly;
}

/* 5.- Align Items (Direcci贸n Row) */
.d-flex-5 {
    display: flex;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;  
}

.d-flex-5 .box {
    height: 150px;
}

.d-flex-5 .box:nth-child(2) {
    height: 300px;
}

.d-flex-5 .box:nth-child(3) {
    height: 100%;
}

/* 6.- Align Items (Direcci贸n Columna) */
.d-flex-6 {
    display: flex;
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.d-flex-6 .box:nth-child(2) {
    width: 300px;
}

.d-flex-6 .box:nth-child(3) {
    width: 250px;
}

/* 7.- Align Items y JustifyContent */
.d-flex-7 {
    display: flex;
    justify-content: space-evenly;
    height: 700px;
    align-items: center;
}

/* 8.- Flex Basis */
.d-flex-8 {
    display: flex;
}

/* Se aplica a los flex-items */
.d-flex-8 .box {
    flex-basis: 33.3%;
    flex-basis: 200px; /* Medida Inicial, en caso un elemento requiera mas espacio lo toma.*/
}

/* 9.- Gap y Calc */

.d-flex-9 {
    display: flex;
/*     gap: 2rem;
    column-gap: 2rem; */
}

.d-flex-9 .box {
    flex-basis: calc(150px);
}

/* 10.- Flex Wrap */
.d-flex-10 {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos den salto de linea en caso no entren en su contenedor*/
}

.d-flex-10 .box {
    flex-basis: 33.3%;
}

/* 11.- Flex Grow */
.d-flex-11 {
    display: flex;
}

.d-flex-11 .box:nth-child(1) {
    flex-grow: 2;
}

.d-flex-11 .box:nth-child(2) {
    flex-grow: 1;
}

.d-flex-11 .box:nth-child(3) {
    flex-grow: 1;
}

/* 12.- Flex Shrink */
.d-flex-12 {
    display: flex;
}

.d-flex-12 .box {
    flex-grow: 1;
    flex-basis: 300px;
}

.d-flex-12 .box:nth-child(3) {
    flex-shrink: 2;
}

/*13.- .d-flex-13  .box*/
.d-flex-13 .box{
    flex-basis: 33.3%;
    flex-grow: 1;
    flex-shrink: 1;
}


