body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f0f0f0;
}

h1 {
    text-align: center;
    color: steelblue;
}

.container {
    width: 80%;
    /* height: 500px; */
    background: lightblue;
    margin: auto;
    display: flex;

/*     justify-content: space-evenly;
    flex-wrap:wrap;
    align-items:stretch; */
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px;
    align-content: center;
}

.item {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: teal;
    width: 100px;
    height: 100px;
}

.item:nth-child(even) { /* Elementos pares */
    background: steelblue;
}